USE [master]
GO
/****** Object:  Database [LopHocSo]    Script Date: 11-Apr-26 07:12:53 AM ******/
CREATE DATABASE [LopHocSo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LopHocSo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\LopHocSo.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LopHocSo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\LopHocSo_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LopHocSo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LopHocSo]
GO
/****** Object:  Table [dbo].[DonXinNghiHoc]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonXinNghiHoc](
	[MaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaHocSinh] [int] NULL,
	[LyDo] [nvarchar](max) NULL,
	[NgayNghi] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PhanHoiGiaoVien] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [varchar](20) NULL,
	[MaKhoi] [int] NULL,
	[MaNamHoc] [int] NULL,
	[MaGVCN] [int] NULL,
	[MaTruong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[VaiTro] [varchar](20) NULL,
	[AnhDaiDien] [varchar](255) NULL,
	[MaLop] [int] NULL,
	[MaHocSinhLienKet] [int] NULL,
	[TrangThaiOnline] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[MaDiem] [int] IDENTITY(1,1) NOT NULL,
	[MaHocSinh] [int] NULL,
	[MaMonHoc] [int] NULL,
	[MaHocKy] [int] NULL,
	[MaLoai] [int] NULL,
	[DiemSo] [float] NULL,
	[NgayNhap] [datetime] NULL,
	[NhanXet] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyReNep]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyReNep](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHocSinh] [int] NULL,
	[NoiDung] [nvarchar](255) NULL,
	[DiemXP] [int] NULL,
	[LoaiLog] [nvarchar](50) NULL,
	[NgayGhi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_SoCaiChiTiet]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_SoCaiChiTiet] AS
SELECT 
    nd.MaNguoiDung,
    nd.HoTen,
    nd.Email,
    l.TenLop,
    -- Điểm trung bình các môn của học sinh (Ví dụ tính tạm thời)
    CAST(AVG(bd.DiemSo) AS DECIMAL(10,2)) as DiemTrungBinh,
    -- Tổng điểm XP (Nề nếp)
    ISNULL((SELECT SUM(DiemXP) FROM NhatKyReNep WHERE MaHocSinh = nd.MaNguoiDung), 0) as TongXP,
    -- Số buổi vắng
    (SELECT COUNT(*) FROM DonXinNghiHoc WHERE MaHocSinh = nd.MaNguoiDung AND TrangThai = N'DaDuyet') as SoBuoiVang
FROM NguoiDung nd
JOIN LopHoc l ON nd.MaLop = l.MaLop
LEFT JOIN BangDiem bd ON nd.MaNguoiDung = bd.MaHocSinh
WHERE nd.VaiTro = 'Student'
GROUP BY nd.MaNguoiDung, nd.HoTen, nd.Email, l.TenLop;
GO
/****** Object:  Table [dbo].[BaiLam]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiLam](
	[MaBaiLam] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiTap] [int] NULL,
	[MaHocSinh] [int] NULL,
	[FileDinhKem] [varchar](255) NULL,
	[DiemSo] [float] NULL,
	[LoiPhe] [nvarchar](max) NULL,
	[NgayNop] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[BaiLam] [nvarchar](max) NULL,
	[NoiDungBaiLam] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiTap]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiTap](
	[MaBaiTap] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HanNop] [datetime] NULL,
	[MaPhanCong] [int] NULL,
	[LoaiBai] [varchar](20) NULL,
	[LinkGoogleForm] [nvarchar](500) NULL,
	[FileDinhKem] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietChatAI]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChatAI](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhien] [int] NULL,
	[CauHoi] [nvarchar](max) NULL,
	[TraLoiAI] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaHocLieu]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaHocLieu](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiLieu] [int] NOT NULL,
	[MaHocSinh] [int] NOT NULL,
	[SoSao] [int] NOT NULL,
	[NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[MaDiemDanh] [int] IDENTITY(1,1) NOT NULL,
	[MaHocSinh] [int] NULL,
	[MaLop] [int] NULL,
	[NgayDiemDanh] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NguoiDiemDanh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHocKy] [int] IDENTITY(1,1) NOT NULL,
	[TenHocKy] [nvarchar](20) NULL,
	[MaNamHoc] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHocLieu]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHocLieu](
	[MaTaiLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiLieu] [nvarchar](255) NULL,
	[LoaiFile] [varchar](10) NULL,
	[DuongDan] [varchar](255) NULL,
	[MaMonHoc] [int] NULL,
	[MaNguoiDang] [int] NULL,
	[NgayDang] [datetime] NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaKhoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoiHoc]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoiHoc](
	[MaKhoi] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDiem]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDiem](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[HeSo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogHeThong]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogHeThong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[HanhDong] [nvarchar](max) NULL,
	[MaNguoiThucHien] [int] NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[MaNamHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenNamHoc] [varchar](20) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongGiangDay]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongGiangDay](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaGiaoVien] [int] NULL,
	[MaLop] [int] NULL,
	[MaMonHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienHoiDapAI]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienHoiDapAI](
	[MaPhien] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[TieuDePhien] [nvarchar](255) NULL,
	[ThoiGianBatDau] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChat]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChat](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](100) NULL,
	[LoaiPhong] [int] NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVienPhongChat]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVienPhongChat](
	[MaPhong] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiKhoaBieu]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiKhoaBieu](
	[MaTKB] [int] IDENTITY(1,1) NOT NULL,
	[MaLop] [int] NULL,
	[MaMonHoc] [int] NULL,
	[Thu] [int] NULL,
	[Tiet] [int] NULL,
	[PhongHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaNguoiGui] [int] NULL,
	[NgayGui] [datetime] NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhanChat]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhanChat](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NULL,
	[MaNguoiGui] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[DaXem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraoDoiChuNhiem]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraoDoiChuNhiem](
	[MaTraoDoi] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiGui] [int] NULL,
	[MaNguoiNhan] [int] NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PhanHoi] [nvarchar](max) NULL,
	[MaBaiTap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTraoDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruongHoc]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruongHoc](
	[MaTruong] [int] IDENTITY(1,1) NOT NULL,
	[TenTruong] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[CapHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiLam] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[BangDiem] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[ChiTietChatAI] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[DanhGiaHocLieu] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DiemDanh] ADD  DEFAULT (getdate()) FOR [NgayDiemDanh]
GO
ALTER TABLE [dbo].[KhoHocLieu] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[LogHeThong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NamHoc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [TrangThaiOnline]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKyReNep] ADD  DEFAULT (getdate()) FOR [NgayGhi]
GO
ALTER TABLE [dbo].[PhienHoiDapAI] ADD  DEFAULT (getdate()) FOR [ThoiGianBatDau]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[TinNhanChat] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[TinNhanChat] ADD  DEFAULT ((0)) FOR [DaXem]
GO
ALTER TABLE [dbo].[TraoDoiChuNhiem] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[TraoDoiChuNhiem] ADD  DEFAULT (N'ChoPhanHoi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TruongHoc] ADD  DEFAULT (N'THCS') FOR [CapHoc]
GO
ALTER TABLE [dbo].[BaiLam]  WITH CHECK ADD FOREIGN KEY([MaBaiTap])
REFERENCES [dbo].[BaiTap] ([MaBaiTap])
GO
ALTER TABLE [dbo].[BaiLam]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BaiTap]  WITH CHECK ADD FOREIGN KEY([MaPhanCong])
REFERENCES [dbo].[PhanCongGiangDay] ([MaPhanCong])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiDiem] ([MaLoai])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[ChiTietChatAI]  WITH CHECK ADD FOREIGN KEY([MaPhien])
REFERENCES [dbo].[PhienHoiDapAI] ([MaPhien])
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD FOREIGN KEY([NguoiDiemDanh])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonXinNghiHoc]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NamHoc] ([MaNamHoc])
GO
ALTER TABLE [dbo].[KhoHocLieu]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[KhoHocLieu]  WITH CHECK ADD FOREIGN KEY([MaNguoiDang])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LogHeThong]  WITH CHECK ADD FOREIGN KEY([MaNguoiThucHien])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[KhoiHoc] ([MaKhoi])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NamHoc] ([MaNamHoc])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaTruong])
REFERENCES [dbo].[TruongHoc] ([MaTruong])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_GVCN] FOREIGN KEY([MaGVCN])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_GVCN]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[NhatKyReNep]  WITH CHECK ADD FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhanCongGiangDay]  WITH CHECK ADD FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhanCongGiangDay]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[PhanCongGiangDay]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[PhienHoiDapAI]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhongChat]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[ThanhVienPhongChat]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ThanhVienPhongChat]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChat] ([MaPhong])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([MaNguoiGui])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TinNhanChat]  WITH CHECK ADD FOREIGN KEY([MaNguoiGui])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TinNhanChat]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChat] ([MaPhong])
GO
ALTER TABLE [dbo].[TraoDoiChuNhiem]  WITH CHECK ADD FOREIGN KEY([MaNguoiGui])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TraoDoiChuNhiem]  WITH CHECK ADD FOREIGN KEY([MaNguoiNhan])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [CHK_DiemSo] CHECK  (([DiemSo]>=(0) AND [DiemSo]<=(10)))
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [CHK_DiemSo]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='Parent' OR [VaiTro]='Student' OR [VaiTro]='Teacher' OR [VaiTro]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDiemTrungBinhMon]    Script Date: 11-Apr-26 07:12:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhDiemTrungBinhMon]
    @MaHocSinh INT,
    @MaMonHoc INT,
    @MaHocKy INT
AS
BEGIN
    SELECT 
        SUM(bd.DiemSo * ld.HeSo) / SUM(ld.HeSo) as DiemTrungBinh
    FROM BangDiem bd
    JOIN LoaiDiem ld ON bd.MaLoai = ld.MaLoai
    WHERE bd.MaHocSinh = @MaHocSinh 
      AND bd.MaMonHoc = @MaMonHoc 
      AND bd.MaHocKy = @MaHocKy;
END
GO
USE [master]
GO
-- =============================================
-- DỮ LIỆU MẪU (MOCK DATA)
-- =============================================

-- 1. Chèn danh sách Môn Học
SET IDENTITY_INSERT [dbo].[MonHoc] ON;
INSERT INTO [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [MoTa]) VALUES 
(1, N'Toán học', N'Môn Toán học'),
(2, N'Ngữ văn', N'Môn Ngữ văn'),
(3, N'Tiếng Anh', N'Môn Tiếng Anh'),
(4, N'Vật lý', N'Môn Vật lý'),
(5, N'Hóa học', N'Môn Hóa học'),
(6, N'Sinh học', N'Môn Sinh học'),
(7, N'Lịch sử', N'Môn Lịch sử'),
(8, N'Địa lý', N'Môn Địa lý'),
(9, N'Tin học', N'Môn Tin học');
SET IDENTITY_INSERT [dbo].[MonHoc] OFF;

-- 2. Chèn dữ liệu mẫu cho Thời Khóa Biểu (Lớp 1 - 6A1)
-- Lưu ý: Thứ: 2-7, Tiết: 1-5
INSERT INTO [dbo].[ThoiKhoaBieu] ([MaLop], [MaMonHoc], [Thu], [Tiet]) VALUES
(1, 1, 2, 1), (1, 1, 2, 2), (1, 2, 2, 3), (1, 3, 2, 4), (1, 4, 2, 5), -- Thứ 2
(1, 2, 3, 1), (1, 2, 3, 2), (1, 1, 3, 3), (1, 5, 3, 4), (1, 6, 3, 5), -- Thứ 3
(1, 3, 4, 1), (1, 3, 4, 2), (1, 7, 4, 3), (1, 8, 4, 4), (1, 9, 4, 5), -- Thứ 4
(1, 4, 5, 1), (1, 1, 5, 2), (1, 2, 5, 3), (1, 3, 5, 4), (1, 5, 5, 5), -- Thứ 5
(1, 6, 6, 1), (1, 7, 6, 2), (1, 8, 6, 3), (1, 9, 6, 4), (1, 1, 6, 5), -- Thứ 6
(1, 2, 7, 1), (1, 3, 7, 2), (1, 4, 7, 3), (1, 5, 7, 4), (1, 6, 7, 5); -- Thứ 7


-- =============================================
-- ĐỒNG BỘ DỮ LIỆU CHO HỌC SINH MAI TUYẾT NHI (LỚP 6A1)
-- =============================================

-- 1. Đảm bảo Lớp 6A1 có ID = 1
IF NOT EXISTS (SELECT 1 FROM LopHoc WHERE MaLop = 1)
BEGIN
    SET IDENTITY_INSERT [dbo].[LopHoc] ON;
    INSERT INTO [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoi]) VALUES (1, '6A1', 6);
    SET IDENTITY_INSERT [dbo].[LopHoc] OFF;
END
ELSE
BEGIN
    UPDATE [dbo].[LopHoc] SET TenLop = '6A1' WHERE MaLop = 1;
END

-- 2. Đảm bảo giáo viên chủ nhiệm có MaLop = 1
IF EXISTS (SELECT 1 FROM NguoiDung WHERE Email = 'gv.6a1@teacher.edunext.vn')
BEGIN
    UPDATE [dbo].[NguoiDung] SET MaLop = 1 WHERE Email = 'gv.6a1@teacher.edunext.vn';
END

-- 3. Cập nhật hoặc thêm học sinh Mai Tuyết Nhi vào Lớp 1 (6A1)
IF EXISTS (SELECT 1 FROM NguoiDung WHERE Email = 'maituyetnhi6a1@student.edunext.vn')
BEGIN
    UPDATE [dbo].[NguoiDung] SET MaLop = 1, VaiTro = 'Student' WHERE Email = 'maituyetnhi6a1@student.edunext.vn';
END
ELSE
BEGIN
    INSERT INTO [dbo].[NguoiDung] ([HoTen], [Email], [MatKhau], [VaiTro], [MaLop]) 
    VALUES (N'Mai Tuyết Nhi', 'maituyetnhi6a1@student.edunext.vn', '123456', 'Student', 1);
END

-- 4. Đảm bảo trong bảng ThoiKhoaBieu có dữ liệu cho MaLop = 1
IF NOT EXISTS (SELECT 1 FROM ThoiKhoaBieu WHERE MaLop = 1)
BEGIN
    INSERT INTO [dbo].[ThoiKhoaBieu] ([MaLop], [MaMonHoc], [Thu], [Tiet]) VALUES
    (1, 1, 2, 1), (1, 1, 2, 2), (1, 2, 2, 3), (1, 3, 2, 4), (1, 4, 2, 5),
    (1, 2, 3, 1), (1, 2, 3, 2), (1, 1, 3, 3), (1, 5, 3, 4), (1, 6, 3, 5),
    (1, 3, 4, 1), (1, 3, 4, 2), (1, 7, 4, 3), (1, 8, 4, 4), (1, 9, 4, 5);
END
-- =============================================
-- DỮ LIỆU PHÂN CÔNG GIẢNG DẠY (PHỤC VỤ HIỂN THỊ TÊN GV)
-- =============================================
SET IDENTITY_INSERT [dbo].[PhanCongGiangDay] ON;
-- Giả sử:
-- GV 6A1 (ID 101) dạy Toán (1) và Tin (9) cho lớp 6A1 (1)
-- Một GV khác (ID 102) dạy Ngữ văn (2) và Tiếng Anh (3) cho lớp 6A1 (1)
INSERT INTO [dbo].[PhanCongGiangDay] ([MaPhanCong], [MaGiaoVien], [MaLop], [MaMonHoc]) VALUES 
(1, 101, 1, 1), -- Toán
(2, 102, 1, 2), -- Ngữ văn
(3, 102, 1, 3), -- Tiếng Anh
(4, 101, 1, 9); -- Tin học
SET IDENTITY_INSERT [dbo].[PhanCongGiangDay] OFF;
-- =============================================
-- BỔ SUNG PHÂN CÔNG GIẢNG DẠY CHO GV 102
-- =============================================
SET IDENTITY_INSERT [dbo].[PhanCongGiangDay] ON;
-- GV 102 (Trần Thị B) dạy các môn còn lại cho lớp 6A1 (1)
INSERT INTO [dbo].[PhanCongGiangDay] ([MaPhanCong], [MaGiaoVien], [MaLop], [MaMonHoc]) VALUES 
(5, 102, 1, 1), -- Toán học (Giao thêm cho GV 102)
(6, 102, 1, 4), -- Vật lý
(7, 102, 1, 5), -- Hóa học
(8, 102, 1, 6), -- Sinh học
(9, 102, 1, 7), -- Lịch sử
(10, 102, 1, 8); -- Địa lý
SET IDENTITY_INSERT [dbo].[PhanCongGiangDay] OFF;
-- =============================================
-- DỮ LIỆU BỔ SUNG CHO TRANG CHỦ NỀN TẢNG (HIGHLIGHTS)
-- =============================================
SET IDENTITY_INSERT [dbo].[ThongBao] ON;
INSERT INTO [dbo].[ThongBao] ([MaThongBao], [TieuDe], [NoiDung], [NgayTao], [LoaiThongBao]) VALUES 
(100, N'Hệ sinh thái EduNext đạt mốc 1500 học sinh', N'Chúc mừng cộng đồng!', GETDATE(), N'Chung'),
(101, N'Cập nhật Trợ lý AI v4.0 (Powered by Gemini)', N'Thông minh hơn, nhanh hơn.', GETDATE(), N'HeThong'),
(102, N'Hợp tác chia sẻ học liệu với Thư viện Quốc gia', N'Mở rộng kho tri thức.', GETDATE(), N'DoiTac');
SET IDENTITY_INSERT [dbo].[ThongBao] OFF;

SET IDENTITY_INSERT [dbo].[KhoHocLieu] ON;
SET IDENTITY_INSERT [dbo].[KhoHocLieu] OFF;
-- =============================================
-- [FIX] DỮ LIỆU BỔ SUNG CHO TRANG CHỦ (SỬA LẠI TÊN CỘT ĐÚNG)
-- =============================================
SET IDENTITY_INSERT [dbo].[ThongBao] ON;
INSERT INTO [dbo].[ThongBao] ([MaThongBao], [TieuDe], [NoiDung], [NgayGui], [MaNguoiGui]) VALUES 
(100, N'Hệ sinh thái EduNext đạt mốc 1500 học sinh', N'Chúc mừng cộng đồng!', GETDATE(), 1),
(101, N'Cập nhật Trợ lý AI v4.0 (Powered by Gemini)', N'Thông minh hơn, nhanh hơn.', GETDATE(), 1),
(102, N'Hợp tác chia sẻ học liệu với Thư viện Quốc gia', N'Mở rộng kho tri thức.', GETDATE(), 1);
SET IDENTITY_INSERT [dbo].[ThongBao] OFF;

SET IDENTITY_INSERT [dbo].[KhoHocLieu] ON;
INSERT INTO [dbo].[KhoHocLieu] ([MaTaiLieu], [TenTaiLieu], [MoTa], [MaMonHoc], [LoaiFile], [MaNguoiDang], [NgayDang]) VALUES 
(10, N'Trọn bộ Slide Toán 6 (Chân trời sáng tạo)', N'Tài liệu giảng dạy tiêu chuẩn.', 1, 'PDF', 101, GETDATE()),
(11, N'Ebook Ngữ văn 7 - Phân tích tác phẩm', N'Tài liệu ôn tập hữu ích.', 2, 'PDF', 102, GETDATE()),
(12, N'Video thí nghiệm Vật lý 8 (HD)', N'Thực quan sinh động.', 3, 'MP4', 101, GETDATE()),
(13, N'Bộ đề tự luyện Tiếng Anh THCS', N'Dành cho học sinh giỏi.', 4, 'PDF', 102, GETDATE());
SET IDENTITY_INSERT [dbo].[KhoHocLieu] OFF;
